body, body .container {
    margin: 1px;
    padding: 0;
    height: 100%;
    border: 1px black solid;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #eff3f7;
    padding: 5px;
    border-bottom: 1px black solid;
}
.clockContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.headerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sortBtns > button {
    margin-left: 5px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 100px;
    background-color: #eff3f7;
    padding: 20px;
}   
.firstComent {
    display: flex;
    justify-content: center;
    padding: 5px;
}