.moviesContainer {
    margin-top: 50px;
    padding: 0;
}
.movieTrue {
    height: 100%;
    display: grid; 
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 160px;
    padding: 5%;
    box-shadow: 
        0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background-color: white;
}
.movieFalse {

}
ul {
    margin: 0;
    padding: 0;
}
li:not(:last-child):after {
    content: ", ";
}
li {
    list-style:none;
    display: inline;
}
.movieFalse > img {
    position: relative;
    max-width: 100%;
    box-shadow: 
        0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movieTrue > img{
    position: relative;
    top: -50px;
    max-width: 100%;
    height: 100%;
    box-shadow: 
        0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movieTrue img:hover {
    top: 0px;
    right: -50%;
    transform: scale(2, 2);
}
.movie__data {
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    overflow:hidden;
}
.movie__data > div > span{
    margin-right: 10px;
}
.movie__title {
    font-size: 18px;
}
li, .movie__year, .movie__rating, .movie__runtime, .movie__summary {
    color: gray;
    font-size: 11px;
}
.movie__summary {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}